@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  --ui-bg-shade-low: #f7f7f7;
  --ui-bg-shade-high: #f2f2f2;

  --ui-bg-shade-2-low: #ebebeb;
  --ui-bg-shade-2-high: #ffffff;
}

.dark {
  --ui-bg-shade-low: #0d0d0d;
  --ui-bg-shade-high: #080808;

  --ui-bg-shade-2-low: #141414;
  --ui-bg-shade-2-high: #000000;
}

@layer utilities {
  .bg-shade {
    background-image: linear-gradient(to bottom, var(--ui-bg-shade-low), var(--ui-bg-shade-high));
  }

  .bg-noise {
    background-image: url('/noise.png');
    background-size: 512px;
    background-repeat: repeat;
  }

  .radial-fade {
    mask-image: radial-gradient(circle, black, transparent);
    -webkit-mask-image: radial-gradient(circle, black, transparent);
  }

  .bg-grid {
    background-image:
      linear-gradient(to right, var(--ui-bg) 1px, transparent 1px),
      linear-gradient(to bottom, var(--ui-bg) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .bg-shade-2 {
    background-image: linear-gradient(
      to bottom,
      var(--ui-bg-shade-2-low),
      var(--ui-bg-shade-2-high)
    );
  }

  .blend-border::before {
    content: '';
    position: absolute;
    inset: 0;
    border: var(--bb-width, 1px) solid var(--ui-bg-inverted);
    mix-blend-mode: overlay;
    pointer-events: none;
    border-radius: inherit;
  }
}

html {
  scroll-behavior: smooth;
}
